@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

.Projects section:first-child {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../../Images/AllProjects_HomePage.jpg");
    background-position: center;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Instrument Serif', serif;
    height: 150px;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    width: 1150px;
}
.Projects h1 {
    color: white;
    font-size: 50px;
}
.Projects p {
    color: black;
}
.Projects section:last-child {
    display: grid;
    grid-template-columns: 365px 365px 365px;
    column-gap: 1.5rem;
    align-items: center;
    justify-content: center;
}
.MyLink {
    color: black;
    text-decoration: none;
}
.Information {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 4.5rem;
    text-decoration: none;
    width: 350px;
}
.Information img {
    border-radius: 4px;
    height: 250px;
    width: 350px;
}
.Information figcaption h2 {
    margin-bottom: 0.5rem;
    text-align: center;
}
.Information div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}
#CreatedProjectsEdit {
    background-color: var(--LightGreen);
    color: black;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-top: 0.5rem;
    padding: 1rem 1rem;
}
#CreatedProjectsEdit:hover {
    background-color: black;
    color: var(--LightGreen);
}
#CreatedProjectsEdit:hover::after {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: black;
    content: "Edit Project";
    font-family: 'Instrument Serif', serif;
    font-size: 15px;
    padding: 5px;
    position: absolute;
    top: 130%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    width: 60px;
    z-index: 1;
}
#Delete {
    background-color: var(--LightGreen); 
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-top: 0.5rem;
    margin-left: 0rem;
    padding: 1rem 1rem;
}
#Delete:hover {
    background-color: black;
    color: var(--LightGreen);
}
#Delete:hover::after {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: black;
    content: "Delete Project";
    font-family: 'Instrument Serif', serif;
    font-size: 15px;
    padding: 5px;
    position: absolute;
    top: 130%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    width: 70px;
    z-index: 1;
}
#ArchiveProject {
    background-color: var(--LightGreen);
    color: black;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-top: 0.5rem;
    padding: 1rem 1rem;
}
#ArchiveProject:hover {
    background-color: black;
    color: var(--LightGreen);
}
#ArchiveProject:hover::after {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: black;
    content: "Archive Project";
    font-family: 'Instrument Serif', serif;
    font-size: 15px;
    padding: 5px;
    position: absolute;
    top: 130%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    width: 80px;
    z-index: 1;
}
.Failure {
    color: red;
    font-size: 40px;
    text-align: center;
    width: 1100px;
}