@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

.MyProjects section:first-child {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../../Images/MyProjects_HomePage.jpg");
    background-position: center 75%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Instrument Serif', serif;
    height: 150px;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    width: 1150px;
}
.MyProjects section:first-child h1 {
    color: white;
    font-size: 50px;
}
.MyProjects section:first-child p {
    color: white;
}
.MyProjects section:last-child {
    display: grid;
    grid-template-columns: 365px 365px 365px;
    column-gap: 1.5rem;
    align-items: center;
    justify-content: center;
}
.Information {
    color: black;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    margin: auto;
    padding-bottom: 4.5rem;
    text-decoration: none;
    width: 350px;
}
.Information img {
    border-radius: 4px;
    height: 250px;
    width: 350px;
}
.Information figure div {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}
#MyEdit {
    background-color: var(--LightGreen);
    color: black;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-left: 14.5rem;
    padding: 1rem 1rem;
}
.Information figcaption h2 {
    margin-bottom: 0.5rem;
}
#Delete {
    background-color: var(--LightGreen);
    border-radius: 50%;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-left: 0rem;
    padding: 1rem 1rem;
}
#MyEdit:hover {
    background-color: black;
    color: var(--LightGreen);
}
#Delete:hover {
    background-color: black;
    color: var(--LightGreen);
}
.Failure {
    color: red;
    font-size: 40px;
    text-align: center;
    width: 1100px;
}